.item{
    width: 20%;
background-color:bisque;
text-align: center;

}
.item img{
    width: 100%;
    
}
.grand{
    height: 100%;
    
    background-color: brown;

    display: flex;
    align-items: center;
    justify-content: space-evenly;


}